<html>
    <head>
        <title>Counter</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Counter</h1>

        <main>
            <div>
                <%= counter %>
            </div>
        </main>
    </body>
</html>
